{% extends 'base.html' %}
{% load static %}
{% block content %}
	<div id="Add_Product_Out" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Add Job opportunity</h3>
            </div>
            <div class="modal-body mdl-bdy">
				              <form role="form" id="job-opportunity" action="">
								  {% csrf_token %}
                      <div class="form-group">
                          <div class="row profile-disp">
                            <div class="col-md-6">
                               <input type="file" name="company-logo" class="hidden" id="upload" accept="image/*"
                                      onchange="showPreview(event);">
                                <div class="profile-mobile profile-image">
                                    <img style="border-radius:50%;" src="{% static 'images/jobs.jpg' %}"
                                         class="prof-img class-pointer" onclick="imageUpload()" id="image">
                                    <span class="class-pointer up-image-text display-block" onclick="imageUpload()">+Upload Company Logo</span>
                                   </div>

                            </div>
                        </div>
                    </div>
                     <div class="form-group">
                        <label class="control-label">Job Title</label>
                        <div>
                            <input type="text" class="form-control input-lg" name="job-title">
                        </div>
                    </div>
<!--                    <div class="form-group">-->
<!--                        <label class="control-label">Item Description</label>-->
<!--                        <div>-->
<!--                            <input type="text" class="form-control input-lg" name="part_description" value="" id="part_description">-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="form-group">
                        <label class="control-label">Job Description</label>
                        <div>
                            <textarea rows="5" class="form-control input-lg" name="job-description"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Location</label>
                        <div>
                            <input type="text" class="form-control input-lg" name="job-location">
                        </div>
                    </div>
                     <div class="form-group">
                        <label class="control-label">Company Name</label>
                        <div>
                            <input type="text" class="form-control input-lg" name="company-name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Contact Number</label>
                        <div>
                            <input type="text" class="form-control input-lg" name="contact">
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <button type="submit" class="btn">
                                ADD
                            </button>
                             <button type="submit" class="btn" data-dismiss="modal">
                                CANCEL
                            </button>
                        </div>
                    </div>
								  <div class="error1"></div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
	{% if request.GET.grid == "False" or not request.GET.grid and not request.GET.page%}
    <caption><h3 class="header_text">Job listings</h3></caption>
	<table id="example" class="table table-bordered display" style="width:100%">
    		<thead class="thead-dark">
            		<tr>
				<th>Job Title</th>
				<th>Job Description</th>
<!--				<th>Purchased Count</th>-->
<!--				<th>Allocated Count</th>-->
                <th>Job location</th>
                <th>Company Name</th>
                <th>contact</th>
<!--                <th>Box</th>-->
<!--                <th>Hole</th>-->
<!--                        <th>Remarks</th>-->
<!--                        <th>Need to purchase?</th>-->

            		</tr>
        	</thead>
        	{% if job_listings %}
        	<tbody>
    		{% for item in job_listings %}
		<tr>
        		<td>{{ item.title }}</td>
			<td>{% if item.job_description %}{{ item.job_description|linebreaks|safe|truncatewords:20 }}{% endif %}</td>
			<td>{{ item.location }}</td>
			<td>{{ item.company_name }}</td>
			<td>{{ item.phone_number }}</td>
        </tr>

	{% empty %}
		</tbody>
		<tfoot>
            		<tr>
				<th>Title</th>
				<th>Job Description</th>
                <th>Location</th>
				<th>Company Name</th>
				<th>Contact Number</th>
            		</tr>
        	</tfoot>
	</table>
    		<p>No details are available.</p>

{% endfor %}


{% endif %}

{% else %}
<section class="hero-wrap d-flex align-items-center pd-top">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="hero-title">
                <h1>Looking for a Job?</h1>
                <h3>Find out perfect job from {{events.count}} listings </h3>
            </div>
        </div>
    </div>
</section>
<section class="main-block featured-wrap">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="titile-block">
                    {% if page_obj %}
                    <p>These listings are featured by our community
                    <a href="{% url 'landing' %}?grid=False"><i class="fa fa-list" style="color:#dc3545d6;" aria-hidden="true"></i></a></p>
                    {% else %}
                    <h2>No Jobs to list</h2>
                    {% if request.user.is_authenticated %}
                    <p>You can add one going to the listing page
                        <a href="{% url 'landing' %}?grid=False"><i class="fa fa-list" style="color:#dc3545d6;" aria-hidden="true"></i></a></p>
                    <p>or <a class="click-here" href="{% url 'importer' %}">click here to import</a></p>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            {% for job in page_obj %}
            <div class="col-md-4 card-1">
                <div class="card">
                        <img class="card-img-top card-image" src="{{job.get_job_image}}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{job.title}}</h5>
                            <p class="card-text">
                                {{ job.job_description|linebreaks|safe|truncatewords:20 }}
                                {% ifnotequal job.job_description job.job_description|truncatewords:20 %}
                                <a class="readmore" href=""><B>Show More</B>...</a>
                                {%endifnotequal%}
                            </p>
                        </div>
                        <div class="card-bottom">
                            <p><i class="ti-location-pin"></i>{{job.location}}</p>
                            <span class="open-close_green">
                            </span>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% if page_obj %}
     <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Previous</a>
          </li>
        {% endif %}
        {% for i in page_obj.paginator.page_range %}
          {% if page_obj.number == i %}
            <li class="page-item active" aria-current="page">
              <span class="page-link">
                {{ i }}
                <span class="sr-only">(current)</span>
              </span>
            </li>
          {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Next</a>
          </li>
        {% endif %}
      </ul>
    </nav>
    {% endif %}
    <!--end of Pagination-->

</section>
{% endif %}



<script type="text/javascript">
			$(document).ready(function() {
    				$('#example').DataTable({
        "aLengthMenu": [[25, 50, 75, -1], [25, 50, 75, "All"]],
        "iDisplayLength": 25
    });             {% if request.user.is_authenticated %}
					$('.dataTables_paginate').prepend('<i class="fa fa-plus cursor" id="add-button" data-toggle="modal" data-target="#Add_Product_Out" aria-hidden="true">ADD</i>')
                    {% endif %}
                $('.dataTables_info').prepend('<a href="{% url 'importer' %}"><button id="export" class="btn cursor export" >Import</button></a>')
                $('.dataTables_filter').prepend('<a href="{% url 'landing' %}?grid=True"><i class="fa fa-th" style="color:#dc3545d6;" aria-hidden="true"></a>')

			} );

    function showPreview(event){
  if(event.target.files.length > 0){
    var src = URL.createObjectURL(event.target.files[0]);
    var preview = document.getElementById("image");
    preview.src = src;
    preview.style.display = "block";
  }
}
function imageUpload(){
        $('#upload').click();
	}

	$("#job-opportunity").submit(function(e) {
       e.preventDefault();
       var formData = new FormData(this);
       $.ajax({
       url : "{% url 'landing' %}",
       type : "POST",
       data : formData,
       dataType:'json',
       contentType: false,
       processData: false,
           success : function(data) {
           console.log(data);
               if (data.result != "success")
                {
                 response = data.result;
                 $('.error1').html(response);
               }
               else{
               window.location.href = '{% url 'landing' %}';
                   }

            },
           // handle a non-successful response
           error : function(xhr,errmsg,errors) {
           console.log(xhr.status + ": " + xhr.responseText);
           console.log(errors)// provide a bit more info about the error to the console
           }
       });
   });

	</script>


{% endblock %}
