{% extends 'base.html' %}
{% block content %}

<section class="hero-wrap d-flex align-items-center pd-top">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <p>Paste excel data here:</p>
        </div>
         <textarea name="excel_data" style="width:400px;height:200px;"></textarea>
        <p>Table data will appear below</p>
        <h3 id="text-message"></h3>
        <button class="btn btn-primary cursor export" onclick="javascript:generateTable()" value="Genereate Table">Generate Table
        </button>
    </div>
</section>
<section class="hero-wrap d-flex align-items-center pd-top">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="hero-title">
                <h1>Or</h1>
            </div>
        </div>
    </div>
</section>
<!--<p>Paste excel data here:</p>-->
<!--<div class="row">-->
<!--        <div class="col-md-6">-->
<!--             <textarea name="excel_data" style="width:250px;height:150px;"></textarea><br>-->
<!--             <input type="button" onclick="javascript:generateTable()" value="Genereate Table"/>-->
<!--            <br><br>-->
<!--    <p>Table data will appear below</p>-->
<!--    <hr>-->
<!--        </div>-->

<section class="hero-wrap d-flex align-items-center pd-top">
    <div class="container">
        <div class="row d-flex justify-content-center">
<!--            <div class="col-md-4>">-->
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
<!--                    <div class="form-group">-->
                        <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">Import Csv File: </label>
<!--                        <div class="col-md-8">-->
                            <input type="file" name="csv_file" id="csv_file" required="True" class="form-control">
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
                        <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-3" style="margin-bottom:10px;">
                            <button type="button" onclick="Upload()" class="btn btn-primary"><span class="glyphicon glyphicon-upload"
                                                                  style="margin-right:5px;"></span>Import
                            </button>
                        </div>
<!--                    </div>-->
                    <p id="preview-text" class="hidden">Here is the Preview of the csv imported</p>
                    <div class="form-group">
                        <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-3" style="margin-bottom:10px;">
                            <button id="confirm" type="submit" class="btn btn-primary hidden"><span class="glyphicon glyphicon-upload"
                                                                  style="margin-right:5px;"></span>Confirm Import
                            </button>
                        </div>
                    </div>
                </form>
<!--            </div>-->
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div id="dvCSV">
            </div>
        </div>
    </div>
</section>

<!--<div class="col-md-4>">-->
<!--    <form action="" method="POST" enctype="multipart/form-data" class="form-horizontal">-->
<!--        {% csrf_token %}-->
<!--        <div class="form-group">-->
<!--            <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">Import Csv File: </label>-->
<!--            <div class="col-md-8">-->
<!--                <input type="file" name="csv_file" id="csv_file" required="True" class="form-control">-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-3" style="margin-bottom:10px;">-->
<!--                <button class="btn btn-primary"><span class="glyphicon glyphicon-upload"-->
<!--                                                      style="margin-right:5px;"></span>Upload-->
<!--                </button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </form>-->
<!--</div>-->
<div class="row">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>

<section class="hero-wrap d-flex align-items-center pd-top">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <form id="job" method="post">
                {% csrf_token %}
                <div id="excel_table">
                </div>
<!--                <div class="form-group">-->
<!--                    <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-3" style="margin-bottom:10px;">-->
                        <button id="submit" type="submit" class="btn btn-primary hidden"><span
                                class="glyphicon glyphicon-upload"
                                style="margin-right:5px;"></span>Submit
                        </button>
<!--                    </div>-->
<!--                </div>-->
            </form>
        </div>
    </div>
</section>


<script>
    function generateTable() {
    var data = $('textarea[name=excel_data]').val();
    if (data === ""){
    alert("please paste something");
    }

    var rows = data.split("\n");
    var table = $('<table />');
    for(var y in rows) {
        if(y==0)
        {
            var cells = rows[y].split("\t");
            var row = $('<tr /><input type="hidden" name="table-colomns[]" value="'+cells+'">');
            for(var x in cells)
            {
            row.append('<th >'+cells[x]+'</th>');
            }
        }
        else
        {
            var cells = rows[y].split("\t");
            var row = $('<tr /><input type="hidden" name="table-rows[]" value="'+cells+'">');
            for(var x in cells)
            {
             row.append('<td>'+cells[x]+'</td>');
            }
        }
        table.append(row);
}

// Insert into DOM
$('#excel_table').html(table);
 $("#submit").removeClass("hidden");
}

    function Upload() {
        var fileUpload = document.getElementById("csv_file");
        var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.csv|.txt)$/;
        if (regex.test(fileUpload.value.toLowerCase())) {
            if (typeof (FileReader) != "undefined") {
                var reader = new FileReader();
                reader.onload = function (e) {
                    var table = document.createElement("table");
                    var rows = e.target.result.split("\n");
                    for (var i = 0; i < rows.length; i++) {
                        var cells = rows[i].split(",");
                        if (cells.length > 1) {
                            var row = table.insertRow(-1);
                            for (var j = 0; j < cells.length; j++) {
                                var cell = row.insertCell(-1);
                                cell.innerHTML = cells[j];
                            }
                        }
                    }
                    var dvCSV = document.getElementById("dvCSV");
                    dvCSV.innerHTML = "";
                    dvCSV.appendChild(table);
                     $("#confirm").removeClass("hidden");
                     $("#preview-text").removeClass("hidden");
                }
                reader.readAsText(fileUpload.files[0]);
            } else {
                alert("This browser does not support HTML5.");
            }
        } else {
            alert("Please upload a valid CSV file.");
        }
    }
</script>


{% endblock %}
